body{

    font-family: cursive;
}

.logo{
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 50;
  }

 .navbar{
     background-color:rgb(75, 167, 132) !important; 
     height: 90px !important;
 } 

 .box {
    position:relative;
    vertical-align: middle;
    color: #0b7;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition:0.5s;
  }
  
  .box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }
  
  .box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }

  .bar::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
  }
  
  .bar::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 0% 100%;
  }
  
  .foo::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 0 100%;
  }
  
  .foo::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
  }

  .curmudgeon{
       margin-left: 10px;
       margin-right: 5px;
  }
  .curmudgeon::before {
    border-bottom: 3px solid #FFF;
    border-left: 0;
   
    -webkit-transform-origin: 0% 100%;
  }
  
  .curmudgeon::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
  }
  
  .box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
  }

  