body{

 font-family:"The Blacklist";
}

.logo{
    position: absolute;
    width:180px;
    height: 180px;
    margin-top: -70px;
  }

  @media screen and (max-width: 980px){
    .logo{
      width: 90px;
      height: 90px;
      margin-left: 5px;
      margin-top: -50px;
      position: absolute;
      }
    
    }
 .navbara{
     background-color:rgb(75, 167, 132) !important; 
 } 

 .box {
    position:relative;
    vertical-align: middle;
    color: #0b7;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition:0.5s;
  }
  
  .box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }
  
  .box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }

  .bar::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
  }
  
  .bar::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 0% 100%;
  }
  
  .foo::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 0 100%;
  }
  
  .foo::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
  }

  .curmudgeon{
       margin-left: 10px;
       margin-right: 5px;
  }
  .curmudgeon::before {
    border-bottom: 3px solid #FFF;
    border-left: 0;
   
    -webkit-transform-origin: 0% 100%;
  }
  
  .curmudgeon::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
  }
  
  .box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
  }

  h1{
      color: rgb(226, 134, 218);
  }

  h2{
      color: blue;
  }

  .contdiv{
  color: #FFF;
  padding: 15px;
  width: 350px;
     height: 300px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 30% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
  }

  #animated-example { 

    box-shadow: inset 0 0 7px rgba(0,0,0,0.7); 
 }
 
 .animated { 
     animation-duration: 3s; 
     animation-fill-mode: both; 
     animation-timing-function: ease-in; 
 } 
 
 @keyframes flipInX { 
     0% { 
         transform: perspective(400px) rotateX(90deg); 
         opacity: 0; 
     } 
     40% { 
         transform: perspective(400px) rotateX(-10deg); 
     } 
     70% { 
         transform: perspective(400px) rotateX(10deg); 
     } 
     100% { 
         transform: perspective(400px) rotateX(0deg); 
         opacity: 1; 
     } 
 } 
 .flipInX { 
     backface-visibility: visible !important; 
     animation-name: flipInX; 
 }